<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="bg-grey-10">
        <q-toolbar-title class="row items-center slide-in-left">
          <div class="logo-section">
            <q-btn to="/" class="logo-button" flat no-caps>
              <q-avatar size="38px">
                <img src="/icons/favicon-96x96.png" />
              </q-avatar>
              <span class="logo-text">ikely Social</span>
            </q-btn>
          </div>
          <q-btn flat dense icon="eva-menu-2-outline" color="primary" aria-label="Menu" @click="toggleLeftDrawer" />
        </q-toolbar-title>

        <div class="text-grey-9">by Ilia Ostrovskiy</div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" bordered>
      <SidebarView />
    </q-drawer>

    <q-page-container class="q-my-lg q-px-md">
      <router-view v-slot="{ Component }">
        <transition enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOutLeft" mode="out-in"
          :duration="150">
          <component :is="Component" />
        </transition>
      </router-view>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts" setup>
import { defineAsyncComponent, ref } from 'vue'

//////
// Components
const SidebarView = defineAsyncComponent(() => import('components/Sidebar/SidebarView.vue'))

//////
// Variables
const leftDrawerOpen = ref(false)

//////
// Function
function toggleLeftDrawer() {
  leftDrawerOpen.value = !leftDrawerOpen.value
}
</script>

<style lang="scss" scoped>
.logo-text {
  margin-left: -1.1rem;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}

.slide-in-left {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.1s;
}

.menu-delay {
  animation-delay: 0.2s;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
</style>
