<template>
  <q-page class="row items-center justify-evenly">
    <posts-component />
  </q-page>
</template>

<script lang="ts" setup>
import { defineAsyncComponent } from 'vue'

//////
// Components
const PostsComponent = defineAsyncComponent(() => import('components/Posts/PostsComponent.vue'))
</script>
