// app global css in SCSS form
.q-btn .q-icon,
.q-btn {
  @supports (-moz-appearance: none) {
    line-height: 2;
  }
}

div .q-field__messages {
  text-align: end !important;
}


.n-link {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
