<template>
  <PostPageComponent :post="post" :key="post?.id" />
</template>

<script lang="ts" setup>
import { defineAsyncComponent, computed } from 'vue'
import { useRoute } from 'vue-router'
import { getPostById } from 'src/components/Composition/apolloQueriesComposition'

//////
// Variabes
const route = useRoute()

const postId: number = Array.isArray(route.params.id)
  ? parseInt(route.params.id[0])
  : parseInt(route.params.id)

const postByID = getPostById(String(postId))

//////
// Computed
const post = computed(() => postByID.result?.value?.post || undefined)

//////
// Component
const PostPageComponent = defineAsyncComponent(() => import('components/Posts/PostPageComponent.vue'))

</script>

<style lang="scss"></style>
