<template>
  <q-dialog
    v-model="newPostOpenedLocal"
    persistent
    transition-show="fade-down"
    transition-hide="fade-up"
  >
    <q-card class="new-post-card col-12 bg-grey-9 text-white">
      <q-bar>
        <q-space />
        <q-btn dense flat icon="eva-close-outline" v-close-popup>
          <q-tooltip class="bg-grey-9">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section class="q-px-lg bg-white text-dark">
        <div class="text-h6 q-mb-lg">Create a New Post:</div>
        <q-form ref="formNewPost" class="q-gutter-md">
          <div class="new-post-form row wrap">
            <q-input
              standout="bg-grey-9"
              v-model="post.title"
              class="col-6"
              label="Title"
              dense
            />
            <q-file
              v-model="post.image"
              label="Pick an Image"
              standout="bg-grey-9"
              class="q-ml-auto"
              accept=".jpg, .png"
              @rejected="onFileRejected"
              :max-file-size="fileSize"
              dense
            >
              <template v-slot:prepend>
                <q-img
                  rounded
                  v-if="post.image"
                  :src="imgUrl"
                  fit="cover"
                  :ratio="1"
                  width="64px"
                />
                <q-icon v-else name="eva-image-outline" />
              </template>
            </q-file>
            <q-editor
              class="q-mt-md col-12"
              v-model="post.content"
              toolbar-bg="grey-9"
              toolbar-text-color="white"
              min-height="12rem"
            />
            <span class="full-width text-caption2 text-right text-grey">
              Ctrl + Enter To post
            </span>
            <q-btn
              outline
              color="primary"
              class="q-mt-md q-mb-sm"
              icon="eva-paper-plane-outline"
              label="Send post"
              no-caps
              @click="createPost()"
            />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script lang="ts" setup>
import { postForm } from 'src/interfaces/forms'
import { computed, ref, unref } from 'vue'

import { createPostMutation } from 'src/components/Composition/apolloMutationsComposition'

import { cleanContent } from 'src/helpers/sanitize'
import { createNotify } from 'src/helpers/notify'

const post = ref<postForm>({
  title: '',
  content: '',
})

const fileSize = 4096 * 1024

//////
// Props
const props = defineProps<{
  newPostOpened?: boolean
}>()

//////
// Emits
const emit = defineEmits<{
  (e: 'update:newPostOpened', value: boolean): void
}>()

//////
// Computed
const newPostOpenedLocal = computed<boolean>({
  get: () => props.newPostOpened,
  set: (value) => {
    emit('update:newPostOpened', value)
  },
})

const imgUrl = computed(() => {
  const image = post.value.image
  if (image instanceof File) {
    return URL.createObjectURL(image) || ''
  }
  return ''
})

//////
// Methods

function onFileRejected(): void {
  createNotify('File is too large.')
}

async function createPost(): Promise<void> {
  const prepeared = unref(post)
  prepeared.content = cleanContent(prepeared.content || '')
  try {
    const result = await createPostMutation({
      ...prepeared,
    })
    console.log(result?.data.createPost.post.id, 'RES')
    createNotify(`Post "${post.value.title}" was created`, 'green')
    newPostOpenedLocal.value = false
  } catch (error) {
    createNotify(String(error))
  }
}
</script>

<style lang="scss" scoped>
.new-post-card {
  max-width: 96%;
  width: 800px;
}
</style>
src/interfaces/forms
