<template>
  <q-card class="post post-card q-mb-lg" flat bordered>
    <q-card-section horizontal>
      <q-card-section class="row column col">
        <q-card-section class="q-pa-none">
          <div class="text-h6">{{ post?.title }}</div>
        </q-card-section>
        <q-separator class="q-my-md" />
        <q-card-section class="text-container q-px-none q-pt-sm">
          <div
            v-text="cleanContent(post?.content! || '', 'full')"
            class="text-space"
          />
        </q-card-section>
        <q-card-actions
          horizontal
          class="justify-between q-mt-auto q-pl-none q-pb-none"
        >
          <like-element :post="post" />
          <q-btn
            outline
            :to="`/posts/${post?.id}`"
            label="Read"
            color="primary"
            icon="eva-book-open-outline"
            size="md"
            class="q-ml-auto q-mt-xs q-px-lg"
            no-caps
          />
        </q-card-actions>
      </q-card-section>
      <q-card-section class="poster-section col-4 q-pa-none">
        <q-img
          :src="
            post?.image ? `${media_uri}${post?.image}` : '/images/no-image.jpg'
          "
          spinner-color="primary"
          fit="cover"
          class="poster"
          img-class="poster-img"
          :ratio="1"
        >
          <div class="poster-author absolute-bottom text-subtitle1 text-center">
            <q-item
              :to="`/users/${post?.author.id}`"
              v-ripple
              class="cursor-pointer justify-center"
            >
              <q-item-section class="items-end q-pr-sm text-left gt-xs">
                <q-item-label class="text-primary text-weight-bold" caption>{{
                  post?.author.name || post?.author.email
                }}</q-item-label>
                <q-item-label class="text-white" caption>{{
                  formatTime(post?.timestamp!)
                }}</q-item-label>
              </q-item-section>
              <q-avatar color="primary" text-color="white" rounded size="38px">
                <q-img
                  v-if="post?.author.avatar"
                  :src="`${media_uri}${post?.author.avatar}`"
                  spinner-color="primary"
                  fit="cover"
                  class="poster"
                  img-class="poster-img"
                  :ratio="1"
                />
                <div v-else>
                  {{
                    post?.author?.name[0]?.toUpperCase() ||
                    post?.author.email[0].toUpperCase()
                  }}
                </div>
              </q-avatar>
            </q-item>
          </div>
        </q-img>
      </q-card-section>
    </q-card-section>
  </q-card>
</template>

<script lang="ts" setup>
import { defineAsyncComponent } from 'vue'
import { Post } from 'src/interfaces/entitys'

import { formatTime } from 'src/helpers/time'
import { cleanContent } from 'src/helpers/sanitize'

//////
// Components
const LikeElement = defineAsyncComponent(
  () => import('components/Ui/LikeElement.vue')
)

//////
// Variables
const media_uri = process.env.MEDIA_URI

//////
// Props
defineProps<{
  post?: Post
}>()
</script>

<style lang="scss" scoped>
.post {
  width: 100%;
  max-width: 800px;
  max-height: 350px;
  position: relative;

  .poster {
    height: 100%;
  }

  .poster-section {
    overflow: hidden;
    color: red;

    .poster {
      height: 100%;
    }
  }

  .text-container {
    overflow: hidden;
  }

  .text-space {
    max-height: 170px;
    overflow: hidden;
    word-break: break-all;
  }
}
</style>
src/interfaces/entitys
