<template>
  <q-infinite-scroll v-if="posts.length" id="posts" class="column full-width items-center" @load="onLoad" :offset="300">
    <PostCardComponent v-for="post in posts" :key="post.id" :post="post" />
    <template v-slot:loading>
      <div class="row justify-center q-my-md">
        <q-spinner-dots color="primary" size="40px" />
      </div>
    </template>
  </q-infinite-scroll>
  <h2 class="text-grey" v-else-if="!loadingPosts">There are no posts here yet</h2>
</template>

<script lang="ts" setup>
import { defineAsyncComponent, computed, ref } from 'vue'
import { perPage, totalPages, resultPosts, fetchMorePosts, loadingPosts } from 'src/components/Composition/apolloQueriesComposition'

//////
// Components
const PostCardComponent = defineAsyncComponent(() => import('components/Posts/PostCardComponent.vue'))

//////
// Variables
const page = ref(1)

//////
// Computed
const posts = computed(() => {
  const startIndex = (page.value - 1) * perPage.value
  const endIndex = startIndex + perPage.value
  return resultPosts?.value?.postsPaginated.posts?.slice(0, endIndex) ?? []
})

//////
// Methods
async function onLoad(index: number, done: () => void) {
  if (totalPages.value > page.value) {
    await fetchMorePosts()
    ++page.value
  }
  done()
}
</script>

<style>
#posts {
  min-height: 100vh;
}
</style>
