<template>
  <div class="row justify-center q-pa-md">
    <q-card class="post-item col-12 col-md-9 col-xl-7">
      <q-parallax :height="300">
        <template v-slot:media>
          <img
            :src="
              post?.image
                ? `${media_uri}${post?.image}`
                : '/images/no-image.jpg'
            "
          />
        </template>

        <template v-slot:content="scope">
          <div
            class="absolute column items-center"
            :style="{
              opacity: 0.45 + (1 - scope.percentScrolled) * 0.55,
              top: scope.percentScrolled * 60 - 25 + '%',
              left: 0,
              right: 0,
            }"
          >
            <img src="/icons/favicon-128x128.png" />
            <div class="text-h3 text-white text-center" v-text="post?.title" />
            <div
              class="text-h6 text-grey-3 text-center"
              v-text="`by ${post?.author.name || post?.author?.email}`"
            />
          </div>
        </template>
      </q-parallax>

      <q-card-section class="row justify-between">
        <div class="post-info col-12 col-sm">
          <div class="text-h3 row items-center">
            <h3 class="q-my-none" v-text="post?.title" />
          </div>
          <div class="text-subtitle2" v-text="formatTime(post?.timestamp!)" />
        </div>
        <div class="post-actions row items-center">
          <like-element :post="post" />
          <div class="post-author text-subtitle1">
            <q-item
              rounded
              :to="`/users/${post?.author?.id}`"
              flat
              v-ripple
              class="oveflow-hidden cursor-pointer justify-center"
            >
              <q-item-section class="items-end q-pr-sm text-left gt-xs">
                <q-item-label class="text-primary text-weight-bold" caption>
                  {{ post?.author.name || post?.author.email }}
                </q-item-label>
              </q-item-section>
              <q-avatar color="primary" text-color="white" rounded size="38px">
                <q-img
                  v-if="post?.author.avatar"
                  :src="`${media_uri}${post?.author.avatar}`"
                  spinner-color="primary"
                  fit="cover"
                  class="poster"
                  img-class="poster-img"
                  :ratio="1"
                />
                <div v-else>
                  {{
                    post?.author?.name[0]?.toUpperCase() ||
                    post?.author.email[0].toUpperCase()
                  }}
                </div>
              </q-avatar>
            </q-item>
          </div>
        </div>
      </q-card-section>
      <q-separator />
      <q-card-section>
        <div
          class="post-content text-body1"
          v-html="cleanContent(post?.content || '')"
        />
      </q-card-section>
    </q-card>
  </div>
</template>

<script lang="ts" setup>
import { defineAsyncComponent } from 'vue'

import { Post } from 'src/interfaces/entitys'

import { formatTime } from 'src/helpers/time'
import { cleanContent } from 'src/helpers/sanitize'

//////
// Variables
const media_uri = process.env.MEDIA_URI

//////
// Components
const LikeElement = defineAsyncComponent(
  () => import('components/Ui/LikeElement.vue')
)

//////
// Props
defineProps<{
  post?: Post
}>()
</script>

<style lang="scss" scoped>
.post-content {
  word-break: break-all;
}
</style>
src/interfaces/entitys
