<template>
  <q-card class="user-card" :square="!onPage" :flat="!onPage">
    <new-post-component v-model:newPostOpened="newPostOpened" />
    <!-- <NotificaionReciever v-if="!onPage" :user="user" /> -->
    <q-img src="/images/no-image.jpg" ratio="1" height="150px">
      <div class="absolute-bottom text-subtitle1 text-start">
        <q-btn
          v-if="authHelper.authUser.value?.id === user?.id"
          outline
          class="text-weight-bold"
          color="primary"
          size="sm"
          @click="newPostOpened = true"
          no-caps
        >
          <q-icon class="q-mr-xs" size="16px" name="eva-plus-outline" /> New
          Post
        </q-btn>
        <q-btn
          v-else
          outline
          class="text-weight-bold"
          color="primary"
          size="sm"
          @click="subscribeManage"
          :disable="!authHelper.isAuthenticated.value"
        >
          <q-icon
            class="q-mr-xs"
            size="16px"
            :name="`eva-bookmark${
              user?.isSubscriber && authHelper.isAuthenticated.value
                ? ''
                : '-outline'
            }`"
          />
          {{
            user?.isSubscriber && authHelper.isAuthenticated.value ? 'Un' : ''
          }}Subscribe User
        </q-btn>
      </div>
    </q-img>

    <q-card-section>
      <q-btn
        color="primary"
        class="absolute q-pa-none"
        @click="avatarInput?.click()"
        style="top: 0; right: 12px; transform: translateY(-50%)"
      >
        <q-tooltip
          v-if="!onPage"
          anchor="top middle"
          class="bg-primary text-body2"
        >
          Upload new avatar
        </q-tooltip>
        <q-avatar color="primary" text-color="white" rounded size="84px">
          <q-img
            v-if="user?.avatar"
            :src="`${media_uri}${user?.avatar}`"
            spinner-color="primary"
            fit="cover"
            class="poster"
            img-class="poster-img"
            :ratio="1"
          />
          <div v-else>
            {{ user?.name[0]?.toUpperCase() || user?.email[0].toUpperCase() }}
          </div>
        </q-avatar>
        <input
          v-if="!onPage"
          ref="avatarInput"
          type="file"
          accept="image/png, image/jpeg"
          style="display: none"
          @change="updateAvatar"
        />
      </q-btn>

      <div class="row no-wrap user-name items-center col">
        <div class="text-h6 ellipsis">
          {{ user?.name || user?.email }}
        </div>
      </div>
      <div class="user-info-row text-caption row no-wrap items-center col-12">
        <q-icon
          class="user-info-icon"
          color="primary"
          size="15px"
          name="eva-email-outline"
        />・
        <div class="ellipsis">
          <span>{{ user?.email }}</span>
        </div>
      </div>
    </q-card-section>
    <template v-if="!isEditUser">
      <q-card-section
        v-if="
          authHelper.isAuthenticated.value &&
          authHelper.authUser.value?.id === user?.id
        "
        class="row items-center q-pt-none"
        :class="{ 'justify-evenly': !onPage, 'justify-end': onPage }"
      >
        <q-btn
          unelevated
          v-if="!onPage"
          class="text-weight-bold"
          color="primary"
          @click="isEditUser = true"
          size="sm"
          no-caps
        >
          <q-icon class="q-mr-xs" size="16px" name="eva-edit-outline" /> Edit
          Profile
        </q-btn>
        <q-btn
          outline
          class="text-weight-bold"
          color="negative"
          size="sm"
          @click="signOut()"
          no-caps
        >
          <q-icon class="q-mr-xs" size="16px" name="eva-log-out-outline" /> Sign
          Out
        </q-btn>
      </q-card-section>
    </template>
    <template v-else>
      <q-card-section>
        <user-update :user="user" v-model:is-edit-user="isEditUser" />
      </q-card-section>
    </template>

    <q-separator class="q-mx-sm q-mt-none" />

    <q-card-actions v-if="!isEditUser" class="q-pt-none">
      <q-list class="user-info-list col">
        <q-expansion-item
          expand-separator
          group="user-info"
          icon="eva-people-outline"
          :label="`Subscribers: ${user?.subscribersCount}`"
          caption="Last 10 subscribers"
        >
          <user-list-element :users="user?.subscribers" />
        </q-expansion-item>
        <q-expansion-item
          expand-separator
          group="user-info"
          icon="eva-people-outline"
          :label="`Subscriptions: ${user?.subscriptionsCount}`"
          caption="Last 10 subscriptions"
        >
          <user-list-element :users="user?.subscriptions" />
        </q-expansion-item>
        <q-expansion-item
          expand-separator
          group="user-info"
          icon="eva-file-text-outline"
          :label="`Last Posts`"
          caption="Last 10 posts"
        >
          <post-list-element :posts="user?.posts" />
        </q-expansion-item>
        <q-expansion-item
          expand-separator
          group="user-info"
          icon="eva-heart-outline"
          :label="`Last Like's`"
          caption="Last 10 likes"
        >
          <post-list-element :posts="user?.liked" />
        </q-expansion-item>
      </q-list>
    </q-card-actions>
  </q-card>
</template>

<script lang="ts" setup>
import { defineAsyncComponent, onMounted, ref } from 'vue'
import {
  notificaionReciever,
  notificationId,
} from 'src/helpers/notificationReciever'

import { User } from 'src/interfaces/entitys'
import {
  signOutMutation,
  subscribeManageMutation,
  updateUserMutation,
} from 'src/components/Composition/apolloMutationsComposition'
import { createNotify } from 'src/helpers/notify'
import { authHelper } from 'src/helpers/auth'

//////
// Props
const props = defineProps<{
  user?: User
  onPage?: boolean
}>()

//////
// Components
const UserListElement = defineAsyncComponent(
  () => import('components/Ui/UserListElement.vue')
)
const PostListElement = defineAsyncComponent(
  () => import('components/Ui/PostListElement.vue')
)
const NewPostComponent = defineAsyncComponent(
  () => import('components/Posts/NewPostComponent.vue')
)
const UserUpdate = defineAsyncComponent(
  () => import('components/User/UserUpdate.vue')
)

//////
// Variables
const media_uri = process.env.MEDIA_URI
const newPostOpened = ref<boolean>(false)
const isEditUser = ref<boolean>(false)
const avatarInput = ref<HTMLInputElement | null>(null)

//////
// methods
async function signOut(): Promise<void> {
  try {
    await signOutMutation()
    authHelper.removeUser()
    createNotify('You was SignOut!')
  } catch (error) {
    createNotify(String(error))
  }
}

async function subscribeManage(): Promise<void> {
  try {
    const result = await subscribeManageMutation({
      id: props?.user?.id,
    })

    createNotify(
      `You was ${result?.data?.subscribeManage?.status}: ${
        props.user?.name || props.user?.email
      }`,
      'green'
    )
  } catch (error) {
    createNotify(String(error))
  }
}

async function updateAvatar(evt: Event): Promise<void> {
  try {
    const input = evt.target as HTMLInputElement
    const file = await input.files?.[0]
    await updateUserMutation({
      avatar: file,
    })
    createNotify('Avatar was Updated', 'green')
  } catch (error) {
    createNotify(String(error))
  }
}

//////
// Notifications Reciever
async function recieveNotifications(): Promise<void> {
  notificationId.value = authHelper.authUser.value?.notifications[0]?.id
  await notificaionReciever()
}

onMounted(() => {
  if (props.onPage) {
    recieveNotifications()
  }
})
</script>

<style lang="scss" scoped>
.user-name {
  padding-right: 86px;
}
</style>
src/interfaces/entitys
