<template>
  <div id="update-user-info">
    <h6
      v-text="'Update Info:'"
      class="text-grey-9 q-my-none q-mb-sm q-pl-none"
    />
    <q-form ref="formRef" @keyup.enter="onSubmit()">
      <div
        v-text="'Name(optional)'"
        class="text-subtitle2 text-grey-9 q-mt-sm q-pl-none"
      />
      <q-input
        ref="emailRef"
        outlined
        v-model="credentials.name"
        autocomplete="off"
        class="q-pb-none"
        type="text"
        color="primary"
        dense
      >
        <template v-slot:prepend>
          <q-icon name="eva-person-outline" />
        </template>
      </q-input>
      <div
        v-text="'Email(optional)'"
        class="text-subtitle2 text-grey-9 q-mt-sm q-pl-none"
      />
      <q-input
        ref="emailRef"
        outlined
        v-model="credentials.email"
        autocomplete="off"
        :rules="[emailOrEmpty]"
        class="q-pb-none"
        type="email"
        color="primary"
        dense
      >
        <template v-slot:prepend>
          <q-icon name="eva-email-outline" />
        </template>
      </q-input>
      <div
        v-text="'Password(optional)'"
        class="text-subtitle2 text-grey-9 q-pl-none q-mt-sm"
      />
      <q-input
        ref="passwordRef"
        outlined
        v-model="credentials.password"
        autocomplete="new-password"
        :type="isPwd ? 'password' : 'text'"
        color="primary"
        dense
      >
        <template v-slot:prepend>
          <q-icon name="eva-shield-outline" />
        </template>
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'eva-eye-outline' : 'eva-eye-off-outline'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
      <template v-if="credentials.password?.length">
        <div
          v-text="'Repeat password'"
          class="text-subtitle2 text-grey-9 q-mt-sm q-pl-none"
        />
        <q-input
          ref="confirmPasswordRef"
          outlined
          v-model="confirmPasswordValue"
          autocomplete="new-password"
          :rules="[(v) => comparePasswords(v, credentials.password), required]"
          type="password"
          color="primary"
          dense
        >
          <template v-slot:prepend>
            <q-icon name="eva-checkmark-circle-outline" />
          </template>
        </q-input>
      </template>
      <q-btn
        color="primary"
        @click="onSubmit()"
        class="full-width q-mt-lg"
        no-caps
      >
        Update Info
      </q-btn>
      <q-btn
        color="negative"
        @click="reset()"
        class="full-width q-mt-lg"
        no-caps
      >
        Cancel
      </q-btn>
    </q-form>
  </div>
</template>

<script lang="ts" setup>
import { ref, unref } from 'vue'
import { required, emailOrEmpty, comparePasswords } from 'src/helpers/rules'

import { QInput, QForm } from 'quasar'

import { authHelper } from 'src/helpers/auth'
import { updateUserInfo } from 'src/interfaces/forms'
import { User } from 'src/interfaces/entitys'

import { updateUserMutation } from 'src/components/Composition/apolloMutationsComposition'
import { createNotify } from 'src/helpers/notify'

//////
// Props
const props = defineProps<{
  isEditUser?: boolean
  user?: User
}>()

//////
// Variables
const credentials = ref<updateUserInfo>({
  name: props.user?.name,
})

const isPwd = ref<boolean>(true)
const confirmPasswordValue = ref<string>('')

// Refs
const emailRef = ref<QInput | null>(null)
const passwordRef = ref<QInput | null>(null)
const confirmPasswordRef = ref<QInput | null>(null)
const formRef = ref<QForm | null>(null)

//////
// Emits
const emit = defineEmits<{
  (e: 'update:isEditUser', value: boolean): void
}>()

//////
// Methods
async function onSubmit(): Promise<void> {
  const isPassed = await formRef.value?.validate()
  if (isPassed) {
    try {
      await updateUserMutation({
        ...unref(credentials),
      })
      emit('update:isEditUser', false)
      createNotify('Your Profile was updated', 'green')
      if (credentials.value.password?.length) {
        authHelper.removeUser()
        createNotify('You was SignOut!')
      }
    } catch (error) {
      createNotify(String(error))
    }
  }
}

function reset(): void {
  formRef.value?.reset()
  emit('update:isEditUser', false)
}
</script>
src/interfaces/formssrc/interfaces/entitys
