<template>
  <div class="q-pa-md">
    <q-card-section class="text-center">
      <div class="text-h4 text-primary">Likely Social</div>
      <div class="text-subtitle2">Sign In or Sign Up Please!</div>
    </q-card-section>

    <q-tabs v-model="mode" class="text-grey-9" dense inline-label no-caps>
      <q-tab label="Sign In" name="signin" icon="eva-person-done-outline" />
      <q-tab
        label="Sign Up"
        name="signup"
        color="primary"
        icon="eva-person-add-outline"
      />
    </q-tabs>

    <q-tab-panel name="default" class="q-px-none q-pb-none">
      <q-form
        @submit="onSubmit()"
        class="q-gutter-md"
        @keyup.enter="onSubmit()"
      >
        <div v-text="'Email'" class="text-subtitle2 text-grey-9 q-pl-none" />
        <q-input
          ref="emailRef"
          outlined
          v-model="credentials.email"
          :rules="[email]"
          class="q-pb-none"
          type="email"
          color="primary"
          dense
        >
          <template v-slot:prepend>
            <q-icon name="eva-email-outline" />
          </template>
        </q-input>

        <div
          v-text="'Password'"
          class="text-subtitle2 text-grey-9 q-pl-none q-mt-sm"
        />
        <q-input
          ref="passwordRef"
          outlined
          v-model="credentials.password"
          :type="isPwd ? 'password' : 'text'"
          :rules="[required]"
          color="primary"
          dense
        >
          <template v-slot:prepend>
            <q-icon name="eva-shield-outline" />
          </template>
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'eva-eye-outline' : 'eva-eye-off-outline'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>
      </q-form>
    </q-tab-panel>

    <q-tab-panels v-model="mode">
      <q-tab-panel name="signin" class="q-px-none q-pt-lg">
        <q-btn
          :loading="loading"
          color="grey-9"
          @click="onSubmit()"
          class="full-width"
          no-caps
        >
          Sign In
          <template v-slot:loading>
            <q-spinner-hourglass class="on-left" />
            Loading...
          </template>
        </q-btn>
      </q-tab-panel>

      <q-tab-panel name="signup" class="q-px-none q-pt-none q-pb-none">
        <div
          v-text="'Repeat password'"
          class="text-subtitle2 text-grey-9 q-pl-none"
        />
        <q-input
          ref="confirmPasswordRef"
          outlined
          v-model="confirmPasswordValue"
          :rules="[(v) => comparePasswords(v, credentials.password), required]"
          type="password"
          color="primary"
          dense
        >
          <template v-slot:prepend>
            <q-icon name="eva-checkmark-circle-outline" />
          </template>
        </q-input>
        <q-btn
          :loading="loading"
          color="primary"
          @click="onSubmit()"
          class="full-width q-mt-lg"
          no-caps
        >
          Sign Up
          <template v-slot:loading>
            <q-spinner-hourglass class="on-left" />
            Loading...
          </template>
        </q-btn>
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>

<script lang="ts" setup>
import { ref, unref } from 'vue'

import { createNotify } from 'src/helpers/notify'
import { authHelper } from 'src/helpers/auth'

import { QInput } from 'quasar'
import { loginForm } from 'src/interfaces/forms'
import { required, email, comparePasswords } from 'src/helpers/rules'

import {
  signInMutation,
  signUpMutation,
} from 'src/components/Composition/apolloMutationsComposition'

//////
// Variables
const mode = ref<string>('signin')
const isPwd = ref<boolean>(true)
const confirmPasswordValue = ref<string>('')
const loading = ref<boolean>(false)

const credentials = ref<loginForm>({
  email: '',
  password: '',
})

// Refs
const emailRef = ref<QInput | null>(null)
const passwordRef = ref<QInput | null>(null)
const confirmPasswordRef = ref<QInput | null>(null)

//////
// Methods
async function signIn(): Promise<void> {
  try {
    const response = await signInMutation({
      credentials: unref(credentials),
    })
    authHelper.setUser(response?.data.login.user)
    createNotify(
      `Welcome dear ${
        response?.data.login.user.name || response?.data.login.user.email
      }!`,
      'green'
    )
  } catch (error) {
    createNotify(String(error))
  }
}

async function signUp(): Promise<void> {
  try {
    const response = await signUpMutation({
      credentials: unref(credentials),
    })
    createNotify(
      `User ${response?.data.createUser.user.email} registered successfully! Please Sign In.`,
      'green'
    )
    mode.value = 'signin'
  } catch (error) {
    createNotify(String(error))
  }
}

async function onSubmit(): Promise<void> {
  if (mode.value === 'signin') {
    if (emailRef?.value?.validate() && passwordRef?.value?.validate()) {
      await signIn()
      authHelper.updateCSRF()
    }
  } else {
    if (
      emailRef?.value?.validate() &&
      passwordRef?.value?.validate() &&
      confirmPasswordRef?.value?.validate()
    ) {
      await signUp()
    }
  }
}
</script>

<style scoped>
.login-form {
  max-width: 300px;
  margin: 0 auto;
}
</style>
src/interfaces/forms
