<template>
  <transition enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp" mode="out-in"
    :duration="150">
    <div id="Sidebar" :key="view">
      <LoginOrRegister v-if="view === 'notAuthenticated'" />
      <UserInfo v-else-if="view === 'authenticated'" :user="authHelper.authUser?.value" />
    </div>
  </transition>
</template>

<script lang="ts" setup>
import { defineAsyncComponent, computed } from 'vue'
import { authHelper } from 'src/helpers/auth'

//////
// Computed
const view = computed(() =>
  authHelper.authUser.value ? 'authenticated' : 'notAuthenticated'
)

//////
// Component
const LoginOrRegister = defineAsyncComponent(() => import('components/Sidebar/LoginOrRegister.vue'))
const UserInfo = defineAsyncComponent(() => import('components/User/UserInfo.vue'))
</script>
