<template>
  <div id="user-page" class="row justify-center" flat :key="userId">
    <UserInfo v-if="user?.id" class="col-12 col-md-9 col-lg-6" :user="user" :on-page="true" />
  </div>
</template>

<script lang="ts" setup>
import { defineAsyncComponent, computed } from 'vue'
import { useRoute } from 'vue-router'

import { getUserById } from 'src/components/Composition/apolloQueriesComposition'

//////
// Component
const UserInfo = defineAsyncComponent(() => import('components/User/UserInfo.vue'))

//////
// Variabes
const route = useRoute()

const userId = computed(() => {
  return Array.isArray(route.params.id)
    ? parseInt(route.params.id[0])
    : parseInt(route.params.id)
})


const UserByID = getUserById(String(userId.value))

//////
// Computed
const user = computed(() => {
  return UserByID.result?.value?.user || undefined
})
</script>
