<template>
  <q-btn
    flat
    :label="post?.likesCount! > 0 ? post?.likesCount : ''"
    :color="post?.likesCount! > 0 ? 'red' : 'blue-grey-2'"
    :icon="`eva-heart${
      post?.isLiked && authHelper.isAuthenticated.value ? '' : '-outline'
    }`"
    @click="manageLike(post?.id!)"
  />
</template>

<script lang="ts" setup>
import { likesManageMutation } from 'src/components/Composition/apolloMutationsComposition'
import { createNotify } from 'src/helpers/notify'
import { Post } from 'src/interfaces/entitys'
import { authHelper } from 'src/helpers/auth'
import { refetchAuthUser } from 'src/components/Composition/apolloQueriesComposition'

//////
// Props
defineProps<{
  post?: Post
}>()

async function manageLike(id: number): Promise<void> {
  if (authHelper.isAuthenticated.value) {
    try {
      await likesManageMutation({
        id: id,
      })
      refetchAuthUser()
    } catch (error) {
      createNotify(String(error))
    }
  } else {
    createNotify('You need to Sign in first')
  }
}
</script>
src/interfaces/entitys
