<template>
  <q-list class="q-px-sm q-pb-sm" v-if="posts">
    <q-item
      v-for="post in posts"
      :key="post.id"
      rounded
      :to="`/posts/${post.id}`"
      clickable
      v-ripple
    >
      <q-item-section>
        <q-item-label>{{ post.title }}</q-item-label>
        <q-item-label caption>{{ formatTime(post.timestamp) }}</q-item-label>
      </q-item-section>
      <q-item-section avatar>
        <q-avatar color="primary" text-color="white" rounded size="38px">
          <q-img
            :src="
              post?.image ? `${media_uri}${post.image}` : '/images/no-image.jpg'
            "
            spinner-color="primary"
            fit="cover"
            class="poster"
            :ratio="1"
          />
        </q-avatar>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script lang="ts" setup>
import { Post } from 'src/interfaces/entitys'
import { formatTime } from 'src/helpers/time'

//////
// Variables
const media_uri = process.env.MEDIA_URI

//////
// Props
defineProps<{
  posts?: Post[] | undefined
}>()
</script>
src/interfaces/entitys
