<template>
  <q-list class="q-px-sm q-pb-sm" v-if="users">
    <q-item
      v-for="user in users"
      :key="user.id"
      rounded
      :to="`/users/${user.id}`"
      clickable
      v-ripple
    >
      <q-item-section>{{ user.name || user.email }}</q-item-section>
      <q-item-section avatar>
        <q-avatar color="primary" text-color="white" rounded size="38px">
          <q-img
            v-if="user.avatar"
            :src="`${media_uri}${user.avatar}`"
            spinner-color="primary"
            fit="cover"
            class="poster"
            img-class="poster-img"
            :ratio="1"
          />
          <div v-else>
            {{ user.name[0]?.toUpperCase() || user.email[0].toUpperCase() }}
          </div>
        </q-avatar>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script lang="ts" setup>
import { User } from 'src/interfaces/entitys'

//////
// Variables
const media_uri = process.env.MEDIA_URI

//////
// Props
defineProps<{
  users?: User[] | undefined
}>()
</script>
src/interfaces/entitys
